package dao

import (
 "{{.Module}}/model"
 "gorm.io/gorm"
)

type {{.TableName | ToCamelCase}}DAO struct {
 db *gorm.DB
}

func New{{.TableName | ToCamelCase}}DAO(db *gorm.DB) *{{.TableName | ToCamelCase}}DAO {
 return &{{.TableName | ToCamelCase}}DAO{db: db}
}

func (dao *{{.TableName | ToCamelCase}}DAO) Create(entity *model.{{.TableName | ToCamelCase}}) error {
 return dao.db.Create(entity).Error
}

func (dao *{{.TableName | ToCamelCase}}DAO) GetByID(id uint) (*model.{{.TableName | ToCamelCase}}, error) {
 var entity model.{{.TableName | ToCamelCase}}
 err := dao.db.First(&entity, id).Error
 return &entity, err
}

func (dao *{{.TableName | ToCamelCase}}DAO) Update(entity *model.{{.TableName | ToCamelCase}}) error {
 return dao.db.Save(entity).Error
}

func (dao *{{.TableName | ToCamelCase}}DAO) Delete(id uint) error {
 return dao.db.Delete(&model.{{.TableName | ToCamelCase}}{}, id).Error
}