package controller

import (
 "{{.Module}}/model"
 "{{.Module}}/service"
 "github.com/gin-gonic/gin"
 "net/http"
 "strconv"
)

type {{.ModelName}}Controller struct {
 service *service.{{.ModelName}}Service
}

func New{{.ModelName}}Controller(service *service.{{.ModelName}}Service) *{{.ModelName}}Controller {
 return &{{.ModelName}}Controller{service: service}
}

func (ctrl *{{.ModelName}}Controller) Create(c *gin.Context) {
 var entity model.{{.ModelName}}
 if err := c.ShouldBindJSON(&entity); err != nil {
  c.JSON(http.StatusBadRequest, gin.H{"error": err.Error()})
  return
 }
 if err := ctrl.service.Create(&entity); err != nil {
  c.JSON(http.StatusInternalServerError, gin.H{"error": err.Error()})
  return
 }
 c.JSON(http.StatusOK, entity)
}

func (ctrl *{{.ModelName}}Controller) GetByID(c *gin.Context) {
 id, err := strconv.Atoi(c.Param("id"))
 if err != nil {
  c.JSON(http.StatusBadRequest, gin.H{"error": "Invalid ID"})
  return
 }
 entity, err := ctrl.service.GetByID(uint(id))
 if err != nil {
  c.JSON(http.StatusInternalServerError, gin.H{"error": err.Error()})
  return
 }
 c.JSON(http.StatusOK, entity)
}

func (ctrl *{{.ModelName}}Controller) Update(c *gin.Context) {
 var entity model.{{.ModelName}}
 if err := c.ShouldBindJSON(&entity); err != nil {
  c.JSON(http.StatusBadRequest, gin.H{"error": err.Error()})
  return
 }
 if err := ctrl.service.Update(&entity); err != nil {
  c.JSON(http.StatusInternalServerError, gin.H{"error": err.Error()})
  return
 }
 c.JSON(http.StatusOK, entity)
}

func (ctrl *{{.ModelName}}Controller) Delete(c *gin.Context) {
 id, err := strconv.Atoi(c.Param("id"))
 if err != nil {
  c.JSON(http.StatusBadRequest, gin.H{"error": "Invalid ID"})
  return
 }
 if err := ctrl.service.Delete(uint(id)); err != nil {
  c.JSON(http.StatusInternalServerError, gin.H{"error": err.Error()})
  return
 }
 c.JSON(http.StatusOK, gin.H{"message": "Deleted successfully"})
}