package dao

import (
"fastgin/database"
"gorm.io/gorm"
"{{.Module}}/model"
)

type {{.ModelName}}DAO struct {
 db *gorm.DB
}

func NewDictionaryDAO() *{{.ModelName}}DAO {
 return &{{.ModelName}}DAO{db: database.DB}
}
