package route

import (
	"fastgin/sys/controller"
	"github.com/gin-gonic/gin"
)

func Init{{.TableName | ToCamelCase}}Routes(r *gin.RouterGroup) gin.IRoutes {
	controller := controller.New{{.TableName | ToCamelCase}}Controller()
	router := r.Group("/api")
	{
		router.GET("/index", controller.List)
		router.POST("/index", controller.Create)
		router.PATCH("/index/:apiId", controller.UpdateById)
		router.DELETE("/index", controller.BatchDeleteByIds)
	}

	return r
}
