package route

import (
"{{.Module}}/controller"
"github.com/gin-gonic/gin"
)

func Init{{.ModelName}}Routes(r *gin.RouterGroup) gin.IRoutes {
	controller := controller.New{{.ModelName}}Controller()
	router := r.Group("/{{.ModelName}}")
	{
		router.POST("/index", controller.Create)
		router.GET("/index/:id", controller.GetByID)
		router.PATCH("/index/:id", controller.Update)
		router.DELETE("/index/:id", controller.Delete)

		router.GET("/index", controller.List)
		router.DELETE("/index", controller.DeleteBatch)
	}
	return r
}
