package service

import (
 "{{.Module}}/dao"
 "{{.Module}}/model"
)

type {{.ModelName}}Service struct {
 dao *dao.{{.ModelName}}DAO
}

func New{{.ModelName}}Service(dao *dao.{{.ModelName}}DAO) *{{.ModelName}}Service {
 return &{{.ModelName}}Service{dao: dao}
}

func (s *{{.ModelName}}Service) Create(entity *model.{{.ModelName}}) error {
 return s.dao.Create(entity)
}

func (s *{{.ModelName}}Service) GetByID(id uint) (*model.{{.ModelName}}, error) {
 return s.dao.GetByID(id)
}

func (s *{{.ModelName}}Service) Update(entity *model.{{.ModelName}}) error {
 return s.dao.Update(entity)
}

func (s *{{.ModelName}}Service) Delete(id uint) error {
 return s.dao.Delete(id)
}