package models

import (
 "gorm.io/gorm"
)

type {{.TableName | ToCamelCase}} struct {
{{- range .Columns }}
 {{.ColumnName | ToCamelCase}} {{.ColumnType | ToGoType}} ` + "`gorm:\"column:{{.ColumnName}}\"`" + `
{{- end }}
}

func ({{.TableName | ToCamelCase}}) TableName() string {
 return "{{.TableName}}"
}