.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* 隐藏溢出的内容 */
  .lefts {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none; /* 禁止任何指针事件，包括拖拽 */
    user-select: none; /* 禁止文本选中 */
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/login/login-bg.svg");
      background-position: 100%;
      background-repeat: no-repeat;
      background-size: auto 100%;
      content: "";
      z-index: 1;
    }

    .top-row {
      position: absolute;
      top: 3rem;
      left: 30%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      z-index: 2;
    }

    .logo {
      width: 50px;
      margin-right: 0.5rem;
    }

    span {
      font-size: 25px;
      color: white;
    }

    .bg-container {
      position: absolute;
      top: calc(50% + 2rem);
      left: 40%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;
    }

    .bg {
      width: 300px;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: 25px;
      color: white;
    }

    // 媒体查询
    @media (max-width: 768px) {
      .top-row,
      .logo,
      span,
      .bg-container,
      .bg,
      h3 {
        display: none;
      }
    }
  }

  .rights {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .slide-enter-active,
    .slide-leave-active {
      transition: transform 0.6s ease, opacity 0.6s ease;
    }
    .slide-enter,
    .slide-leave-to {
      transform: translateX(100%);
      opacity: 0;
    }
    @media (max-width: 768px) {
      width: 100%;
      flex: none;
    }
  }
}
